.chat-conteudo {
    display: grid;
    grid-template-rows: 40px auto 40px;
    padding: 8px;
    height: calc(100vh - 250px);
}

.chat-header {
    text-align: center;
}

.chat-conversa {
    overflow: auto;
}

.chat-message {

}